<h1>{{ "info.end-user-agreement.head" | translate }}</h1>
<p><em>Última actualización: 4 de mayo de 2023</em></p>

<h2>Acuerdo con los términos</h2>
<p>
  Estos Términos de Uso constituyen un acuerdo legalmente vinculante entre
  usted, ya sea personalmente o en nombre de una entidad ("usted") y
  {{ "repository.title" | translate }} ("Compañía", "nosotros", "nos" o
  "nuestro"), con respecto a su acceso y uso de este sitio web, así como
  cualquier otro formato de medios, canal de medios, sitio web móvil o
  aplicación móvil relacionada, vinculada o conectada (colectivamente, el
  "Sitio"). Usted acepta que al acceder al Sitio, ha leído, entendido y aceptado
  estar obligado por todos estos Términos de Uso y cualquier enmienda futura de
  los mismos.
</p>
<p>
  Los términos y condiciones complementarios o documentos que puedan publicarse
  en el Sitio de vez en cuando se incorporan expresamente por referencia. Nos
  reservamos el derecho, a nuestra entera discreción, de realizar cambios o
  modificaciones a estos Términos de Uso en cualquier momento y por cualquier
  motivo. Le alertaremos sobre cualquier cambio actualizando la fecha de "Última
  actualización" de estos Términos de Uso, y usted renuncia a cualquier derecho
  a recibir aviso específico de cada cambio. Asegúrese de revisar los Términos
  aplicables cada vez que use nuestro Sitio para que comprenda qué Términos se
  aplican. Estará sujeto a, y se considerará que ha sido informado y ha
  aceptado, los cambios en cualquier versión revisada de los Términos de Uso
  mediante su uso continuado del Sitio después de la fecha en que dichos
  Términos de Uso revisados se publiquen.
</p>
<p>
  La información proporcionada en el Sitio no está destinada a su distribución o
  uso por parte de ninguna persona o entidad en ninguna jurisdicción o país
  donde dicha distribución o uso sea contrario a la ley o regulación o que nos
  someta a cualquier requisito de registro dentro de dicha jurisdicción o país.
  En consecuencia, aquellas personas que elijan acceder al Sitio desde otras
  ubicaciones lo hacen por su propia iniciativa y son únicamente responsables
  del cumplimiento de las leyes locales, si y en la medida en que las leyes
  locales sean aplicables.
</p>

<h2>Derechos de propiedad intelectual</h2>
<p>
  A menos que se indique lo contrario, el Sitio es nuestra propiedad exclusiva y
  todo el código fuente, bases de datos, funcionalidad, software, diseños de
  sitios web, audio, video, texto, fotografías y gráficos en el Sitio
  (colectivamente, el "Contenido") y las marcas comerciales, marcas de servicio
  y logotipos contenidos en él (las "Marcas") son propiedad nuestra o están bajo
  nuestra licencia, y están protegidos por las leyes de derechos de autor y
  marcas comerciales y diversas otras leyes de propiedad intelectual y
  competencia desleal de
  {{ "info.end-user-agreement.hosting-country" | translate }}, las leyes
  internacionales de derechos de autor y las convenciones internacionales. El
  Contenido y las Marcas se proporcionan en el Sitio "TAL CUAL" solo para su
  información y uso personal. Excepto según lo dispuesto expresamente en estos
  Términos de Uso, ninguna parte del Sitio y ningún Contenido<sup
    ><a [routerLink]="'.'" fragment="comment-a" id="ref-a">[a]</a></sup
  >
  o Marcas pueden copiarse, reproducirse, agregarse, republicarse, cargarse,
  publicarse, mostrarse públicamente, codificarse, traducirse, transmitirse,
  distribuirse, venderse, licenciarse o explotarse de cualquier otro modo con
  fines comerciales, sin nuestro permiso previo por escrito expreso.
</p>
<p>
  Siempre que sea elegible para usar el Sitio, se le otorga una licencia
  limitada para acceder y usar el Sitio y para descargar o imprimir una copia de
  cualquier parte del Contenido al que haya accedido correctamente, únicamente
  para su uso personal y no comercial. Nos reservamos todos los derechos no
  expresamente otorgados a usted en y sobre el Sitio, el Contenido y las Marcas.
</p>

<h2>Representaciones del usuario</h2>
<p>
  Al usar el Sitio, usted declara y garantiza que: (1) toda la información de
  registro que envíe será veraz, exacta, actual y completa; (2) mantendrá la
  exactitud de dicha información y actualizará dicha información de registro
  según sea necesario; (3) tiene la capacidad legal y acepta cumplir con estos
  Términos de Uso; (4) no usará el Sitio para ningún propósito ilegal o no
  autorizado; y (5) su uso del Sitio no violará ninguna ley o regulación
  aplicable.
</p>
<p>
  Si proporciona cualquier información que sea falsa, inexacta, no actual o
  incompleta, tenemos el derecho de suspender o terminar su cuenta y rechazar
  cualquier uso actual o futuro del Sitio (o cualquier parte del mismo).
</p>

<h2>Registro de usuario</h2>
<p>
  Puede que se le requiera registrarse en el Sitio. Usted acepta mantener su
  contraseña confidencial y será responsable de todo uso de su cuenta y
  contraseña. Nos reservamos el derecho de eliminar, reclamar o cambiar un
  nombre de usuario que seleccione si determinamos, a nuestra entera discreción,
  que dicho nombre de usuario es inapropiado, obsceno o de otro modo objetable.
</p>

<h2>Actividades prohibidas</h2>
<p>
  No puede acceder ni usar el Sitio para ningún propósito que no sea aquel para
  el que ponemos el Sitio a disposición. El Sitio no puede usarse en relación
  con ningún emprendimiento comercial, excepto aquellos que estén
  específicamente respaldados o aprobados por nosotros.
</p>
<p>Como usuario del Sitio, usted acepta no:</p>
<ul>
  <li>
    Recuperar datos u otro contenido del Sitio de manera sistemática para crear
    o compilar, directa o indirectamente, una colección, compilación, base de
    datos o directorio sin nuestro permiso por escrito.
  </li>
  <li>
    Engañar, defraudar o engañar a nosotros y a otros usuarios, especialmente en
    cualquier intento de aprender información sensible de la cuenta, como
    contraseñas de usuario.
  </li>
  <li>
    Eludir, desactivar o interferir de otro modo con las funciones relacionadas
    con la seguridad del Sitio, incluidas las funciones que evitan o restringen
    el uso o copia de cualquier Contenido o hacen cumplir las limitaciones sobre
    el uso del Sitio y/o el Contenido contenido en él.
  </li>
  <li>
    Desprestigiar, manchar o dañar, en nuestra opinión, a nosotros y/o al Sitio.
  </li>
  <li>
    Usar cualquier información obtenida del Sitio para acosar, abusar o dañar a
    otra persona.
  </li>
  <li>
    Hacer un uso indebido de nuestros servicios de soporte o presentar informes
    falsos de abuso o mala conducta.
  </li>
  <li>
    Usar el Sitio de una manera inconsistente con cualquier ley o regulación
    aplicable.
  </li>
  <li>Participar en el encuadre no autorizado o enlace al Sitio.</li>
  <li>
    Cargar o transmitir (o intentar cargar o transmitir) virus, caballos de
    Troya u otro material, incluido el uso excesivo de letras mayúsculas y spam
    (publicación continua de texto repetitivo), que interfiera con el uso y
    disfrute ininterrumpido del Sitio por parte de cualquier parte o que
    modifique, perjudique, interrumpa, altere o interfiera con el uso, las
    características, las funciones, el funcionamiento o el mantenimiento del
    Sitio.
  </li>
  <li>
    Eliminar el aviso de derechos de autor u otros derechos de propiedad de
    cualquier Contenido.
  </li>
  <li>
    Intentar hacerse pasar por otro usuario o persona o usar el nombre de
    usuario y contraseña de otro usuario.
  </li>
  <li>
    Cargar o transmitir (o intentar cargar o transmitir) cualquier material que
    actúe como un mecanismo de recopilación o transmisión de información pasivo
    o activo, incluidos, entre otros, formatos de intercambio de gráficos claros
    ("gifs"), píxeles 1x1, errores web, cookies u otros dispositivos similares
    (a veces denominados "spyware" o "mecanismos de recopilación pasiva" o
    "pcms").
  </li>
  <li>
    Interferir con, interrumpir o crear una carga indebida en el Sitio o las
    redes o servicios conectados al Sitio.
  </li>
  <li>
    Acosar, molestar, intimidar o amenazar a cualquiera de nuestros empleados o
    agentes que participan en proporcionarle cualquier parte del Sitio.
  </li>
  <li>
    Intentar eludir cualquier medida del Sitio diseñada para prevenir o
    restringir el acceso al Sitio, o cualquier parte del Sitio.
  </li>
  <li>
    Hacer cualquier uso no autorizado del Sitio, incluida la recopilación de
    nombres de usuario y/o direcciones de correo electrónico de usuarios por
    medios electrónicos u otros con el propósito de enviar correos electrónicos
    no solicitados u otras formas de comunicación electrónica, o crear cuentas
    de usuario por medios automatizados o bajo falsos pretextos.
  </li>
  <li>
    Usar el Sitio como parte de cualquier esfuerzo para competir con nosotros o
    usar de otro modo el Sitio y/o el Contenido para cualquier empresa comercial
    o que genere ingresos.
  </li>
</ul>

<h2>Contribuciones generadas por el usuario</h2>
<p>
  El Sitio puede brindarle la oportunidad de crear, enviar, publicar, mostrar,
  transmitir, realizar, publicar, distribuir o difundir contenido y materiales a
  nosotros o en el Sitio, incluidos, entre otros, texto, escritos, video, audio,
  fotografías, gráficos, comentarios, sugerencias o información personal u otro
  material (colectivamente, "Contribuciones"). Las Contribuciones pueden ser
  visibles para otros usuarios del Sitio y a través de sitios web de terceros.
  Como tal, cualquier Contribución que transmita puede tratarse como no
  confidencial y no propietaria. Cuando crea o pone a disposición cualquier
  Contribución, usted declara y garantiza que:
</p>
<ul>
  <li>
    La creación, distribución, transmisión, exhibición pública o ejecución, y el
    acceso, descarga o copia de sus Contribuciones no infringirán ni infringirán
    los derechos de propiedad, incluidos, entre otros, los derechos de autor,
    patentes, marcas comerciales, secretos comerciales o derechos morales de
    terceros.
  </li>
  <li>
    Usted es el creador y propietario o tiene las licencias, derechos,
    consentimientos, liberaciones y permisos necesarios para usar y para
    autorizarnos a nosotros, al Sitio y a otros usuarios del Sitio a usar sus
    Contribuciones de la manera contemplada por el Sitio y estos Términos de
    Uso.
  </li>
  <li>
    Tiene el consentimiento, la liberación y/o el permiso por escrito de todas y
    cada una de las personas individuales identificables en sus Contribuciones
    para usar el nombre o la imagen de todas y cada una de esas personas
    individuales identificables para permitir la inclusión y el uso de sus
    Contribuciones de la manera contemplada por el Sitio y estos Términos de
    Uso.
  </li>
  <li>Sus Contribuciones no son falsas, inexactas o engañosas.</li>
  <li>
    Sus Contribuciones no son publicidad no solicitada o no autorizada,
    materiales promocionales, esquemas piramidales, cartas en cadena, spam,
    envíos masivos u otras formas de solicitud.
  </li>
  <li>
    Sus Contribuciones no son obscenas, lascivas, sucias, violentas, acosadoras,
    difamatorias, calumniosas o de otro modo objetables (según lo determinemos
    nosotros).
  </li>
  <li>
    Sus Contribuciones no ridiculizan, burlan, menosprecian, intimidan ni abusan
    de nadie.
  </li>
  <li>
    Sus Contribuciones no se utilizan para acosar o amenazar (en el sentido
    legal de esos términos) a ninguna otra persona y no promueven la violencia
    contra una persona o clase de personas específicas.
  </li>
  <li>
    Sus Contribuciones no violan ninguna ley, regulación o regla aplicable.
  </li>
  <li>
    Sus Contribuciones no violan los derechos de privacidad o publicidad de
    terceros.
  </li>
  <li>
    Sus Contribuciones no violan ninguna ley aplicable relacionada con la
    pornografía infantil o destinada a proteger la salud o el bienestar de los
    menores.
  </li>
  <li>
    Sus Contribuciones no incluyen ningún comentario ofensivo relacionado con la
    raza, el origen nacional, el género, la preferencia sexual, el color, la
    religión, el credo o la discapacidad física.
  </li>
  <li>
    Sus Contribuciones no violan, ni enlazan con material que viole, ninguna
    disposición de estos Términos de Uso, o cualquier ley o regulación
    aplicable.
  </li>
</ul>
<p>
  Cualquier uso del Sitio en violación de lo anterior constituye una violación
  de estos Términos de Uso y puede resultar, entre otras cosas, en la
  terminación o suspensión de sus derechos para usar el Sitio.
</p>

<h2>Gestión del sitio</h2>
<p>
  Nos reservamos el derecho, pero no la obligación, de: (1) monitorear el Sitio
  en busca de violaciones de estos Términos de Uso; (2) tomar las medidas
  legales apropiadas contra cualquier persona que, a nuestra entera discreción,
  viole la ley o estos Términos de Uso, incluido, entre otros, informar a dicho
  usuario a las autoridades encargadas de hacer cumplir la ley; (3) a nuestra
  entera discreción y sin limitación, rechazar, restringir el acceso a, limitar
  la disponibilidad de o deshabilitar (en la medida en que sea tecnológicamente
  factible) cualquiera de sus Contribuciones o cualquier parte de ellas; (4) a
  nuestra entera discreción y sin limitación, aviso o responsabilidad, eliminar
  del Sitio o deshabilitar todos los archivos y contenido que sean excesivos en
  tamaño o sean de cualquier manera gravosos para nuestros sistemas; y (5) de
  otro modo gestionar el Sitio de una manera diseñada para proteger nuestros
  derechos y propiedad y para facilitar el funcionamiento adecuado del Sitio.
</p>

<h2>Política de privacidad</h2>
<p>
  Nos preocupamos por la privacidad y seguridad de los datos. Por favor revise
  nuestra
  <a [routerLink]="['/info/privacy']" target="_blank" rel="noopener noreferrer"
    >Política de Privacidad</a
  >. Al usar el Sitio, usted acepta estar obligado por nuestra Política de
  Privacidad, que se incorpora a estos Términos de Uso.
</p>
<p>
  Tenga en cuenta que el Sitio está alojado en
  {{ "info.end-user-agreement.hosting-country" | translate }}. Si accede al
  Sitio desde cualquier otra región del mundo con leyes u otros requisitos que
  rijan la recopilación, el uso o la divulgación de datos personales que
  difieran de las leyes aplicables en
  {{ "info.end-user-agreement.hosting-country" | translate }}, entonces, al
  continuar usando el Sitio, usted está transfiriendo sus datos a
  {{ "info.end-user-agreement.hosting-country" | translate }}, y acepta que sus
  datos sean transferidos y procesados en
  {{ "info.end-user-agreement.hosting-country" | translate }}.
</p>

<h2>Término y terminación</h2>
<p>
  Estos Términos de Uso permanecerán en pleno vigor y efecto mientras usted use
  el Sitio. SIN LIMITAR NINGUNA OTRA DISPOSICIÓN DE ESTOS TÉRMINOS DE USO, NOS
  RESERVAMOS EL DERECHO DE, A NUESTRA ENTERA DISCRECIÓN Y SIN AVISO O
  RESPONSABILIDAD, NEGAR EL ACCESO Y USO DEL SITIO (INCLUYENDO EL BLOQUEO DE
  CIERTAS DIRECCIONES IP), A CUALQUIER PERSONA POR CUALQUIER MOTIVO O SIN
  MOTIVO, INCLUYENDO, ENTRE OTROS, POR INCUMPLIMIENTO DE CUALQUIER DECLARACIÓN,
  GARANTÍA O PACTO CONTENIDO EN ESTOS TÉRMINOS DE USO O DE CUALQUIER LEY O
  REGULACIÓN APLICABLE. PODEMOS TERMINAR SU USO O PARTICIPACIÓN EN EL SITIO O
  ELIMINAR SU CUENTA Y CUALQUIER CONTENIDO O INFORMACIÓN QUE HAYA PUBLICADO EN
  CUALQUIER MOMENTO, SIN PREAVISO, A NUESTRA ENTERA DISCRECIÓN.
</p>
<p>
  Si terminamos o suspendemos su cuenta por cualquier motivo, usted tiene
  prohibido registrarse y crear una nueva cuenta bajo su nombre, un nombre falso
  o prestado, o el nombre de cualquier tercero, incluso si puede estar actuando
  en nombre del tercero. Además de terminar o suspender su cuenta, nos
  reservamos el derecho de tomar las medidas legales apropiadas, incluida, entre
  otras, la búsqueda de recursos civiles, penales e inhibitorios.
</p>

<h2>Modificaciones e interrupciones</h2>
<p>
  Nos reservamos el derecho de cambiar, modificar o eliminar los contenidos del
  Sitio en cualquier momento o por cualquier motivo a nuestra entera discreción
  sin previo aviso. Sin embargo, no tenemos obligación de actualizar ninguna
  información en nuestro Sitio. También nos reservamos el derecho de modificar o
  discontinuar todo o parte del Sitio sin previo aviso en cualquier momento. No
  seremos responsables ante usted ni ante ningún tercero por cualquier
  modificación, cambio, suspensión o discontinuidad del Sitio.
</p>
<p>
  No podemos garantizar que el Sitio estará disponible en todo momento. Podemos
  experimentar problemas de hardware, software u otros, o necesitar realizar
  mantenimiento relacionado con el Sitio, lo que resultará en interrupciones,
  demoras o errores. Nos reservamos el derecho de cambiar, revisar, actualizar,
  suspender, discontinuar o modificar de otro modo el Sitio en cualquier momento
  o por cualquier motivo sin previo aviso. Usted acepta que no tenemos ninguna
  responsabilidad por cualquier pérdida, daño o inconveniente causado por su
  incapacidad para acceder o usar el Sitio durante cualquier tiempo de
  inactividad o discontinuidad del Sitio. Nada en estos Términos de Uso se
  interpretará como una obligación de nuestra parte de mantener y apoyar el
  Sitio o de proporcionar correcciones, actualizaciones o versiones en relación
  con el mismo.
</p>

<h2>Correcciones</h2>
<p>
  Puede haber información en el Sitio que contenga errores tipográficos,
  inexactitudes u omisiones. Nos reservamos el derecho de corregir cualquier
  error, inexactitud u omisión y de cambiar o actualizar la información en el
  Sitio en cualquier momento, sin previo aviso.
</p>

<h2>Descargo de responsabilidad</h2>
<p>
  EL SITIO SE PROPORCIONA "TAL CUAL" Y "SEGÚN DISPONIBILIDAD". USTED ACEPTA QUE
  SU USO DEL SITIO Y NUESTROS SERVICIOS SERÁ BAJO SU PROPIO RIESGO. EN LA MÁXIMA
  MEDIDA PERMITIDA POR LA LEY, RENUNCIAMOS A TODAS LAS GARANTÍAS, EXPRESAS O
  IMPLÍCITAS, EN RELACIÓN CON EL SITIO Y SU USO DEL MISMO, INCLUYENDO, ENTRE
  OTRAS, LAS GARANTÍAS IMPLÍCITAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN
  PROPÓSITO PARTICULAR Y NO INFRACCIÓN. NO HACEMOS DECLARACIONES NI GARANTÍAS
  SOBRE LA EXACTITUD O INTEGRIDAD DEL CONTENIDO DEL SITIO O EL CONTENIDO DE
  CUALQUIER SITIO WEB VINCULADO AL SITIO Y NO ASUMIMOS NINGUNA RESPONSABILIDAD
  POR (1) ERRORES, EQUIVOCACIONES O INEXACTITUDES DE CONTENIDO Y MATERIALES, (2)
  DAÑOS PERSONALES O DAÑOS A LA PROPIEDAD, DE CUALQUIER NATURALEZA, RESULTANTES
  DE SU ACCESO Y USO DEL SITIO, (3) CUALQUIER ACCESO NO AUTORIZADO O USO DE
  NUESTROS SERVIDORES SEGUROS Y/O CUALQUIER INFORMACIÓN PERSONAL Y/O FINANCIERA
  ALMACENADA EN ELLOS, (4) CUALQUIER INTERRUPCIÓN O CESE DE TRANSMISIÓN HACIA O
  DESDE EL SITIO, (5) CUALQUIER ERROR, VIRUS, TROYANO O SIMILAR QUE PUEDA SER
  TRANSMITIDO AL O A TRAVÉS DEL SITIO POR CUALQUIER TERCERO, Y/O (6) CUALQUIER
  ERROR U OMISIÓN EN CUALQUIER CONTENIDO Y MATERIALES O POR CUALQUIER PÉRDIDA O
  DAÑO DE CUALQUIER TIPO INCURRIDO COMO RESULTADO DEL USO DE CUALQUIER CONTENIDO
  PUBLICADO, TRANSMITIDO O PUESTO A DISPOSICIÓN A TRAVÉS DEL SITIO. NO
  GARANTIZAMOS, AVALAMOS, ASEGURAMOS NI ASUMIMOS RESPONSABILIDAD POR CUALQUIER
  PRODUCTO O SERVICIO ANUNCIADO U OFRECIDO POR UN TERCERO A TRAVÉS DEL SITIO,
  CUALQUIER SITIO WEB HIPERVINCULADO O CUALQUIER SITIO WEB O APLICACIÓN MÓVIL
  QUE APAREZCA EN CUALQUIER BANNER U OTRA PUBLICIDAD, Y NO SEREMOS PARTE NI DE
  NINGUNA MANERA RESPONSABLES DE SUPERVISAR CUALQUIER TRANSACCIÓN ENTRE USTED Y
  LOS PROVEEDORES DE PRODUCTOS O SERVICIOS DE TERCEROS. COMO CON LA COMPRA DE UN
  PRODUCTO O SERVICIO A TRAVÉS DE CUALQUIER MEDIO O EN CUALQUIER ENTORNO, DEBE
  USAR SU MEJOR CRITERIO Y EJERCER PRECAUCIÓN DONDE SEA APROPIADO.
</p>

<h2>Limitaciones de responsabilidad</h2>
<p>
  EN NINGÚN CASO NOSOTROS O NUESTROS DIRECTORES, EMPLEADOS O AGENTES SEREMOS
  RESPONSABLES ANTE USTED O CUALQUIER TERCERO POR CUALQUIER DAÑO DIRECTO,
  INDIRECTO, CONSECUENCIAL, EJEMPLAR, INCIDENTAL, ESPECIAL O PUNITIVO,
  INCLUYENDO PÉRDIDA DE BENEFICIOS, PÉRDIDA DE INGRESOS, PÉRDIDA DE DATOS U
  OTROS DAÑOS DERIVADOS DE SU USO DEL SITIO, INCLUSO SI HEMOS SIDO ADVERTIDOS DE
  LA POSIBILIDAD DE TALES DAÑOS.
</p>

<h2>Indemnización</h2>
<p>
  Usted acepta defender, indemnizar y eximirnos de responsabilidad, incluyendo
  nuestras subsidiarias, afiliadas, y todos nuestros respectivos funcionarios,
  agentes, socios y empleados, de y contra cualquier pérdida, daño,
  responsabilidad, reclamo o demanda, incluyendo honorarios razonables de
  abogados y gastos, hechos por cualquier tercero debido a o que surjan de: (1)
  sus Contribuciones; (2) uso del Sitio; (3) incumplimiento de estos Términos de
  Uso; (4) cualquier incumplimiento de sus declaraciones y garantías
  establecidas en estos Términos de Uso; (5) su violación de los derechos de un
  tercero, incluyendo pero no limitado a derechos de propiedad intelectual; o
  (6) cualquier acto manifiestamente dañino hacia cualquier otro usuario del
  Sitio con quien se haya conectado a través del Sitio. Sin perjuicio de lo
  anterior, nos reservamos el derecho, a su cargo, de asumir la defensa y
  control exclusivos de cualquier asunto por el cual esté obligado a
  indemnizarnos, y usted acepta cooperar, a su cargo, con nuestra defensa de
  dichos reclamos. Haremos esfuerzos razonables para notificarle de cualquier
  reclamo, acción o procedimiento que esté sujeto a esta indemnización una vez
  que tengamos conocimiento del mismo.
</p>

<h2>Datos del usuario</h2>
<p>
  Mantendremos ciertos datos que usted transmita al Sitio con el propósito de
  gestionar el rendimiento del Sitio, así como datos relacionados con su uso del
  Sitio. Aunque realizamos copias de seguridad de datos de forma rutinaria,
  usted es el único responsable de todos los datos que transmita o que estén
  relacionados con cualquier actividad que haya realizado utilizando el Sitio.
  Usted acepta que no tendremos ninguna responsabilidad hacia usted por
  cualquier pérdida o corrupción de dichos datos, y por la presente renuncia a
  cualquier derecho de acción contra nosotros que surja de dicha pérdida o
  corrupción de datos.
</p>

<h2>Misceláneos</h2>
<p>
  Estos Términos de Uso y cualquier política o regla de operación publicada por
  nosotros en el Sitio o con respecto al Sitio constituyen el acuerdo y
  entendimiento completo entre usted y nosotros. Nuestra falta de ejercer o
  hacer valer cualquier derecho o disposición de estos Términos de Uso no
  operará como una renuncia a dicho derecho o disposición. Estos Términos de Uso
  operan en la máxima medida permitida por la ley. Podemos asignar cualquiera o
  todos nuestros derechos y obligaciones a otros en cualquier momento. No
  seremos responsables ni tendremos ninguna responsabilidad por cualquier
  pérdida, daño, retraso o incumplimiento causado por cualquier causa que esté
  más allá de nuestro control razonable. Si cualquier disposición o parte de una
  disposición de estos Términos de Uso se determina que es ilegal, nula o
  inaplicable, esa disposición o parte de la disposición se considerará
  separable de estos Términos de Uso y no afectará la validez y aplicabilidad de
  las disposiciones restantes. No existe relación de empresa conjunta,
  asociación, empleo o agencia creada entre usted y nosotros como resultado de
  estos Términos de Uso o uso del Sitio. Usted acepta que estos Términos de Uso
  no se interpretarán en nuestra contra por el hecho de que los hayamos
  redactado. Por la presente, usted renuncia a cualquier y todas las defensas
  que pueda tener basadas en la forma electrónica de estos Términos de Uso y la
  falta de firma por las partes aquí para ejecutar estos Términos de Uso.
</p>

<p>
  <a [routerLink]="'.'" fragment="ref-a" id="comment-a">[a]</a>&nbsp;El software
  DSpace utilizado para operar este sitio es de código abierto. Las opciones
  para reutilizar y reproducir el software DSpace se rigen por su licencia de
  código abierto:
  <a
    href="https://github.com/DSpace/DSpace/blob/main/LICENSE"
    target="_blank"
    rel="noopener noreferrer"
    >https://github.com/DSpace/DSpace/blob/main/LICENSE</a
  >
</p>
