<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Repositorio Digital FCyT</h1>
          <p class="lead">
            DSpace instalado como repositorio único de la Facultad de Ciencia y
            Tecnología de UADER:
          </p>
        </div>
      </div>
      <ul>
        <li>Tesis</li>
        <li>Documentos</li>
        <li>Revistas y otras publicaciones</li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source
      type="image/webp"
      srcset="
        assets/dspace/images/banner-fcyt.webp 2000w,
        assets/dspace/images/banner-fcyt.webp 1200w,
        assets/dspace/images/banner-fcyt.webp  768w
      "
    />
    <source
      type="image/jpg"
      srcset="
        assets/dspace/images/banner-fcyt.jpg 2000w,
        assets/dspace/images/banner-fcyt.jpg 1200w,
        assets/dspace/images/banner-fcyt.jpg  768w
      "
    />
    <img
      alt=""
      [src]="'assets/dspace/images/banner-fcyt.jpg'"
    /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
